@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
  cursor: url('/star.png'), pointer;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 239, 238, 233;
  --background-end-rgb: 239, 238, 233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 239, 238, 233;
    --background-end-rgb: 255, 207, 213;
  }
}

body {
  cursor: url('/star.png'), pointer;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
}

.skill-item {
  transition: transform 0.2s;
}

.skill-item:hover {
  transform: scale(1.1);
}
